[submodule "pytorch-types"]
	path = stubs/pytorch-types
	url = https://github.com/HazardousPeach/pytorch-types.git
[submodule "mypy-data"]
	path = stubs/mypy-data
	url = https://github.com/machinalis/mypy-data.git
[submodule "dataloader/gestalt-ratio"]
	path = dataloader/gestalt-ratio
	url = https://github.com/HazardousPeach/gestalt-ratio-rust.git
[submodule "src/coq_serapy"]
	path = coq_serapy
	url = https://github.com/HazardousPeach/coq_serapy.git
[submodule "coq-projects/coq-projects-upycoq/coq-procrastination"]
	path = coq-projects/coq-projects-upycoq/coq-procrastination
	url = https://github.com/Armael/coq-procrastination.git
[submodule "coq-projects/coq-projects-upycoq/hoare-tut"]
	path = coq-projects/coq-projects-upycoq/hoare-tut
	url = https://github.com/coq-community/hoare-tut.git
[submodule "coq-projects/coq-projects-upycoq/zchinese"]
	path = coq-projects/coq-projects-upycoq/zchinese
	url = https://github.com/coq-contribs/zchinese.git
[submodule "coq-projects/coq-projects-upycoq/euler-formula"]
	path = coq-projects/coq-projects-upycoq/euler-formula
	url = https://github.com/coq-contribs/euler-formula.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/UnifySL"]
	path = coq-projects/coq-projects-upycoq/UnifySL
	url = https://github.com/QinxiangCao/UnifySL.git
[submodule "coq-projects/coq-projects-upycoq/lemma-overloading"]
	path = coq-projects/coq-projects-upycoq/lemma-overloading
	url = https://github.com/coq-community/lemma-overloading.git
[submodule "coq-projects/coq-projects-upycoq/disel"]
	path = coq-projects/coq-projects-upycoq/disel
	url = https://github.com/DistributedComponents/disel.git
[submodule "coq-projects/coq-projects-upycoq/algebra"]
	path = coq-projects/coq-projects-upycoq/algebra
	url = https://github.com/coq-contribs/algebra.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/pocklington"]
	path = coq-projects/coq-projects-upycoq/pocklington
	url = https://github.com/coq-community/pocklington.git
[submodule "coq-projects/coq-projects-upycoq/quicksort-complexity"]
	path = coq-projects/coq-projects-upycoq/quicksort-complexity
	url = https://github.com/HazardousPeach/quicksort-complexity.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/finmap"]
	path = coq-projects/coq-projects-upycoq/finmap
	url = https://github.com/math-comp/finmap.git
[submodule "coq-projects/coq-projects-upycoq/coqrel"]
	path = coq-projects/coq-projects-upycoq/coqrel
	url = https://github.com/HazardousPeach/coqrel.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/twoSquare"]
	path = coq-projects/coq-projects-upycoq/twoSquare
	url = https://github.com/thery/twoSquare.git
[submodule "coq-projects/coq-projects-upycoq/QuickChick"]
	path = coq-projects/coq-projects-upycoq/QuickChick
	url = https://github.com/QuickChick/QuickChick.git
	branch = 8.10
[submodule "coq-projects/coq-projects-upycoq/qarith"]
	path = coq-projects/coq-projects-upycoq/qarith
	url = https://github.com/coq-contribs/qarith.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/pts"]
	path = coq-projects/coq-projects-upycoq/pts
	url = https://github.com/coq-contribs/pts.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/maths"]
	path = coq-projects/coq-projects-upycoq/maths
	url = https://github.com/coq-contribs/maths.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/int-map"]
	path = coq-projects/coq-projects-upycoq/int-map
	url = https://github.com/coq-contribs/int-map.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/ieee754"]
	path = coq-projects/coq-projects-upycoq/ieee754
	url = https://github.com/coq-contribs/ieee754.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/hardware"]
	path = coq-projects/coq-projects-upycoq/hardware
	url = https://github.com/HazardousPeach/hardware.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/float"]
	path = coq-projects/coq-projects-upycoq/float
	url = https://github.com/coq-contribs/float.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/dictionaries"]
	path = coq-projects/coq-projects-upycoq/dictionaries
	url = https://github.com/coq-contribs/dictionaries.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/buchberger"]
	path = coq-projects/coq-projects-upycoq/buchberger
	url = https://github.com/coq-community/buchberger.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/bdds"]
	path = coq-projects/coq-projects-upycoq/bdds
	url = https://github.com/coq-contribs/bdds.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/area-method"]
	path = coq-projects/coq-projects-upycoq/area-method
	url = https://github.com/coq-contribs/area-method.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/coq"]
	path = coq-projects/coq-projects-upycoq/coq
	url = https://github.com/coq/coq.git
	branch = v8.10
[submodule "coq-projects/coq-projects-upycoq/fcsl-pcm"]
	path = coq-projects/coq-projects-upycoq/fcsl-pcm
	url = https://github.com/imdea-software/fcsl-pcm.git
[submodule "coq-projects/coq-projects-upycoq/GeoCoq"]
	path = coq-projects/coq-projects-upycoq/GeoCoq
	url = https://github.com/GeoCoq/GeoCoq.git
[submodule "coq-projects/coq-projects-upycoq/coquelicot"]
	path = coq-projects/coq-projects-upycoq/coquelicot
	url = https://github.com/HazardousPeach/coquelicot.git
[submodule "deps/metalib"]
	path = deps/metalib
	url = https://github.com/plclub/metalib.git
[submodule "coq-projects/coq-projects-upycoq/additions"]
	path = coq-projects/coq-projects-upycoq/additions
	url = https://github.com/coq-contribs/additions.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/distributed-reference-counting"]
	path = coq-projects/coq-projects-upycoq/distributed-reference-counting
	url = https://github.com/coq-contribs/distributed-reference-counting.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/zsearch-trees"]
	path = coq-projects/coq-projects-upycoq/zsearch-trees
	url = https://github.com/coq-contribs/zsearch-trees.git
[submodule "coq-projects/coq-projects-upycoq/topology"]
	path = coq-projects/coq-projects-upycoq/topology
	url = https://github.com/coq-community/topology.git
[submodule "coq-projects/coq-projects-upycoq/lin-alg-8.10"]
	path = coq-projects/coq-projects-upycoq/lin-alg
	url = git@github.com:HazardousPeach/lin-alg-8.10.git
[submodule "coq-projects/coq-projects-upycoq/VST"]
	path = coq-projects/coq-projects-upycoq/VST
	url = https://github.com/HazardousPeach/VST.git
    branch = v8.10.2
[submodule "coq-projects/coq-projects-upycoq/coq-library-undecidability"]
	path = coq-projects/coq-projects-upycoq/coq-library-undecidability
	url = https://github.com/HazardousPeach/coq-library-undecidability.git
        branch = v8.12.2
[submodule "coq-projects/coq-projects-upycoq/fermat4"]
	path = coq-projects/coq-projects-upycoq/fermat4
	url = https://github.com/coq-contribs/fermat4.git
[submodule "coq-projects/coq-projects-upycoq/goedel"]
	path = coq-projects/coq-projects-upycoq/goedel
	url = https://github.com/coq-community/goedel.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/tree-automata"]
	path = coq-projects/coq-projects-upycoq/tree-automata
	url = https://github.com/coq-contribs/tree-automata.git
	branch = v8.9
[submodule "coq-projects/coq-projects-upycoq/verdi"]
	path = coq-projects/coq-projects-upycoq/verdi
	url = https://github.com/uwplse/verdi.git
[submodule "coq-projects/coq-projects-upycoq/verdi-raft"]
	path = coq-projects/coq-projects-upycoq/verdi-raft
	url = https://github.com/uwplse/verdi-raft.git
[submodule "coq-projects/coq-projects-upycoq/zorns-lemma"]
	path = coq-projects/coq-projects-upycoq/zorns-lemma
	url = https://github.com/coq-community/zorns-lemma.git
[submodule "coq-projects/coq-projects-upycoq/math-comp"]
	path = coq-projects/coq-projects-upycoq/math-comp
	url = https://github.com/math-comp/math-comp.git
[submodule "CompCert"]
	path = CompCert
	url = https://github.com/AbsInt/CompCert.git
[submodule "coq-projects/coq-projects-upycoq/smc"]
	path = coq-projects/coq-projects-upycoq/smc
	url = https://github.com/dsksh/coq-smc.git
[submodule "coq-projects/coq-projects-upycoq/mod-red"]
	path = coq-projects/coq-projects-upycoq/mod-red
	url = https://github.com/coq-contribs/mod-red.git
[submodule "coq-projects/coq-projects-upycoq/metalib"]
	path = coq-projects/coq-projects-upycoq/metalib
	url = https://github.com/plclub/metalib.git
